<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcodegeeks.tutorial">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- google map -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:backupAgent=".T20_DataBackup.MyBackUpPlace"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- T01. HelloWorld -->
        <activity android:name=".T01_HelloWold.T01MainActivity" />

        <!-- T02. Activity -->
        <activity android:name=".T02_Activity.T02MainActivity" />

        <!-- T03. Service -->
        <activity android:name=".T03_Service.T03MainActivity" />

        <service android:name=".T03_Service.MyService" />

        <!-- T04. Broadcast Receiver -->
        <activity android:name=".T04_BroadcastReceiver.T04MainActivity" />

        <receiver android:name=".T04_BroadcastReceiver.MyReceiver">
            <intent-filter>
                <action android:name="com.mcodegeeks.tutorial.CUSTOM_INTENT" />

                <!-- Sticky broadcast containing the charging state, level, and other information about the battery. -->
                <!-- <action android:name="android.intent.action.BATTERY_CHANGED" /> -->


                <!-- Indicates low battery condition on the device. -->
                <!-- <action android:name="android.intent.action.BATTERY_LOW" /> -->


                <!-- Indicates the battery is now okay after being low. -->
                <!-- <action android:name="android.intent.action.BATTERY_OKAY" /> -->


                <!-- This is broadcast once, after the system has finished booting. -->
                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->


                <!-- Show activity for reporting a bug. -->
                <!-- <action android:name="android.intent.action.BUG_REPORT" /> -->


                <!-- Perform a call to someone specified by the data. -->
                <!-- <action android:name="android.intent.action.CALL" /> -->


                <!-- The user pressed the "call" button to go to the dialer or other appropriate UI for placing a call. -->
                <!-- <action android:name="android.intent.action.CALL_BUTTON" /> -->


                <!-- The date has changed. -->
                <!-- <action android:name="android.intent.action.DATE_CHANGED" /> -->


                <!-- Have the device reboot. -->
                <!-- <action android:name="android.intent.action.REBOOT" /> -->
            </intent-filter>
        </receiver>

        <!-- T05. Content Provider -->
        <activity android:name=".T05_ContentProvider.T05MainActivity" />

        <provider
            android:name=".T05_ContentProvider.StudentContentProvider"
            android:authorities="com.mcodegeeks.tutorial.StudentContentProvider" />

        <!-- T06. Fragment -->
        <activity android:name=".T06_Fragment.T06MainActivity" />

        <!-- T07. Intent -->
        <activity android:name=".T07_Intent.T07MainActivity" />
        <activity android:name=".T07_Intent.RatingActivity" />

        <!-- T08. Event Handling -->
        <activity android:name=".T08_EventHandling.T08MainActivity" />

        <!-- T09. Drag and Drop -->
        <activity android:name=".T09_DragAndDrop.T09MainActivity" />

        <!-- T10. Notification -->
        <activity android:name=".T10_Notification.T10MainActivity" />

        <!-- T11. Location Based Service -->
        <activity android:name=".T11_LocationBasedService.T11MainActivity" />

        <!-- T12. Sending Email -->
        <activity android:name=".T12_SendingEmail.T12MainActivity" />

        <!-- T13. Alert Dialog -->
        <activity android:name=".T13_AlertDialog.T13MainActivity" />

        <!-- T14. Animation -->
        <activity android:name=".T14_Animation.T14MainActivity" />

        <!-- T15. Auto Complete -->
        <activity android:name=".T15_AutoComplete.T15MainActivity" />

        <!-- T16. Bluetooth -->
        <activity android:name=".T16_Bluetooth.T16MainActivity" />

        <!-- T17. Camera -->
        <activity android:name=".T17_Camera.T17MainActivity" />

        <!-- T18. Clipboard -->
        <activity android:name=".T18_Clipboard.T18MainActivity" />

        <!-- T19. Custom Font -->
        <activity android:name=".T19_CustomFont.T19MainActivity" />

        <!-- T20. Data Backup -->
        <activity android:name=".T20_DataBackup.T20MainActivity" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIErlxFByGgNz2ywBeQb6TsmLpp5Ksh1PW-ZSexg" />

        <!-- T21. Facebook Integration -->
        <activity android:name=".T21_Facebook.T21MainActivity" />

        <!-- T22. Gesture -->
        <activity android:name=".T22_Gesture.T22MainActivity" />

        <!-- T23. Google Map -->
        <activity android:name=".T23_GoogleMap.T23MainActivity" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDKymeBXNeiFWY5jRUejv6zItpmr2MVyQ0" />

        <!-- T24. Image Effect -->
        <activity android:name=".T24_ImageEffect.T24MainActivity" />

        <!-- T25. Image Switcher -->
        <activity android:name=".T25_ImageSwitcher.T25MainActivity" />

        <!-- T26. Internal Storage -->
        <activity android:name=".T26_InternalStorage.T26MainActivity" />

        <!-- T27. Jet Player -->
        <activity android:name=".T27_JetPlayer.T27MainActivity" />

        <!-- T28. JSON Parser -->
        <activity android:name=".T28_JSONParser.T28MainActivity" />

        <!-- T29. Linkedin Integration -->
        <activity android:name=".T29_Linkedin.T29MainActivity" />

        <!-- T30. Localization -->
        <activity android:name=".T30_Localization.T30MainActivity">
        </activity>

        <!-- T31. Loading Spinner -->
        <activity android:name=".T31_LoadingSpinner.T31MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- T32. Login Screen -->
        <activity android:name=".T32_LoginScreen.T32MainActivity">
        </activity>

        <!-- T33. Media Player -->
        <activity android:name=".T33_MediaPlayer.T33MainActivity">
        </activity>

        <!-- T34. Multitouch -->
        <activity android:name=".T34_Multitouch.T34MainActivity">
        </activity>

        <!-- T35. Navigation -->
        <activity android:name=".T35_Navigation.T35MainActivity">
        </activity>

        <!-- T36. Network Connection -->
        <activity android:name=".T36_NetworkConnection.T36MainActivity">
        </activity>

        <!-- T37. NFC Guide -->
        <activity android:name=".T37_NFCGuide.T37MainActivity">
        </activity>

        <!-- T38. PHP/MySQL -->
        <activity android:name=".T38_PHP_MySQL.T38MainActivity">
        </activity>

        <!-- T39. Progress Bar -->
        <activity android:name=".T39_ProgressBar.T39MainActivity">
        </activity>

        <!-- T40. Progress Circle -->
        <activity android:name=".T40_ProgressCircle.T40MainActivity">
        </activity>

        <!-- T41. Push Notification -->
        <activity android:name=".T41_PushNotification.T41MainActivity">
        </activity>

        <!-- T42. Render Script -->
        <activity android:name=".T42_RenderScript.T42MainActivity">
        </activity>

        <!-- T43. RSS Reader -->
        <activity android:name=".T43_RSSReader.T43MainActivity">
        </activity>

        <!-- T44. Screen Cast -->
        <activity android:name=".T44_ScreenCast.T44MainActivity">
        </activity>

        <!-- T45. Sensor -->
        <activity android:name=".T45_Sensor.T45MainActivity">
        </activity>

        <!-- T46. Session Management -->
        <activity android:name=".T46_SessionManagement.T46MainActivity">
        </activity>

        <!-- T47. Shared Preference -->
        <activity android:name=".T47_SharedPreference.T47MainActivity">
        </activity>

        <!-- T48. SIP Protocol -->
        <activity android:name=".T48_SIPProtocol.T48MainActivity">
        </activity>

        <!-- T49. Spelling Checker -->
        <activity android:name=".T49_SpellingChecker.T49MainActivity">
        </activity>

        <!-- T50. SQLite Database -->
        <activity android:name=".T50_SQLite.T50MainActivity">
        </activity>

        <!-- T51. Text to Speech -->
        <activity android:name=".T51_TextToSpeech.T51MainActivity">
        </activity>

        <!-- T52. Texture View -->
        <activity android:name=".T52_TextureView.T52MainActivity">
        </activity>

        <!-- T53. Twitter Integration -->
        <activity android:name=".T53_Twitter.T53MainActivity">
        </activity>

        <!-- T54. WebView Layout -->
        <activity android:name=".T54_WebView.T54MainActivity">
        </activity>

        <!-- T55. Wi-Fi -->
        <activity android:name=".T55_WiFi.T55MainActivity">
        </activity>

        <!-- T56. Widget -->
        <activity android:name=".T56_Widget.T56MainActivity">
        </activity>

        <!-- T57. XML Parser -->
        <activity android:name=".T57_XMLParser.T57MainActivity">
        </activity>

        <!-- T58. Audio Capture -->
        <activity android:name=".T58_AudioCapture.T58MainActivity">
        </activity>

        <!-- T59. Audio Manager -->
        <activity android:name=".T59_AudioManager.T59MainActivity">
        </activity>
    </application>

</manifest>